/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --text-weight: 400;
    --title-weight: 700;
    --bg-color: #FFFFFF;
    --accent-color: #000000;
}

